/**
 * This file is for any css that you may want for this visualizer.
 *
 * Ideally, you would use the scss file also provided in this directory 
 * and then generate this file automatically from that. However, you can 
 * simply write css if you prefer
 */

.r-l-simulator {
  outline: none; }

.r-l-simulator {
    overflow: auto; /* Allow scrolling if many runs */
    padding: 10px;
}

.rl-node-container {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}

.rl-node-container:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    cursor: pointer;
}